.start-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.start-page ul{
    display: flex;
    position: absolute;
    top: 0;
    list-style: none;
}

.start-page-gameMode,.guestionsBy{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.categories{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}
@keyframes hoverButton {
    20% {background-color: red;
    transform: scale(1.05)}
    50% {background-color: yellow; transform: scale(1)}
    100%{background-color: red;  transform: scale(0.95)}
}
.start-page-gameMode div,.guestionsBy div{
    width: 45%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1vw;
    font-size: 3vw;
    color: #ffffff;
    border: 2px solid white;

    border-radius: 0 9px 0 9px;
    transition: all ease 200ms;
    cursor: pointer;
}
.start-page-gameMode div:hover, .guestionsBy div:hover{
    box-shadow: 5px 1px 15px;
    animation: hoverButton 5s linear infinite alternate
}
.categories div {
    width: 80%;
    border: none;
    cursor: pointer;
    height: 5vh;
    margin: 3px auto;
    border-radius: 5px;
    transition: all ease 500ms;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.categories div:hover{
    box-shadow: 2px 2px 5px;
}

.categories div:hover {

}
.activeButton{
    background: #2b3cde !important;
}
.category{
    position: relative;
}
.categoryBlock{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
}
.onlinePlayer{
    background-color: #f6f809;
    border-radius: 10px;
}
