/*.gameField-wrapper {*/
/*  display: flex;*/
/*  height: 80vh;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/
.gameField {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 80vw;
    margin: 0 auto;
}
.questionItem{
    transition:all ease 1000ms;
}
.itemWrapper {
    position: relative;
    transition: all ease-out 1000ms;
    opacity: 1;
    transform: none;
    width: 80vw;
    height: 80vh;
}

.itemWrapper > div {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.itemWrapper-hiddenIn {
    transform: translateX(-100%);
    opacity: 0;
}

.itemWrapper-hiddenOut {
    transform: translateX(100%);
    opacity: 0;
}

.byPainterWrapper {
    position: absolute;
    bottom: 0;
}
.byWorkWrapper{
    display: grid;
    grid-template: repeat(2,1fr)/repeat(2,1fr);
    grid-gap: 9px;
}


.questionItem {
    width: 50vw;
}

.questionItem-title {
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.questionItem-img {
    box-shadow: inset 0px -47px 95px;
    width: 100%;
    height: 90%;
    background-repeat: no-repeat;
   background-position: center;
    background-size: contain;

}

.questionItem-variant-work {
    position: relative;
    width: 48%;
    min-width: 200px;
    height: 200px;
    margin-left: 2%;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all ease 500ms;
}

.questionItem-variant-work:hover {
    transform: scale(0.95);
}

.questionItem-variant-painter {
    position: relative;
    width: 48%;
    min-width: 200px;
    display: inline-block;
    background: cadetblue;
    margin: 2px 1%;
    border: none;
    border-radius: 3px;
    line-height: 25px;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 3px;
    transition: all ease 500ms;
}
.byWork__image{
    width: 100%;
    height: 80vh;
    max-height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.byWork__image h4{
    text-align: center;
    letter-spacing: 3px;
    background: #5e3d1085;
    color: white;
    line-height: 30px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #0f0808;
}
.item-isCorrect-color {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all ease 1000ms;
    top: 0;
    left: 0;
    opacity: 0.7;
}

.item-isCorrect-color:hover {
    background: #dd3b0c;
    opacity: 0.2;
}


.opponentAnswer {
    background: #00f8;
}

.playerAnswer {
    background: #ff09;
}

.correctAnswer {
    background: #0909;
}

.mistakeAnswer {
    background: #9108;
}